@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:300,700');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Work Sans', 'Nanum Gothic', sans-serif;
}

hr {
  border-color: rgba(34, 36, 38, 0.15);
}
